* {
font-family: 'Arial' ;
}
h1{
   font-size:24px;
}

h2 {
  font-size:19px;
  color: rgb(140, 140, 140);

}

h3{
  font-size:18px;
  color: rgb(140, 140, 140);

}

p {
font-size: 15px;
color:  rgb(100, 100, 100)
}



.canvas {
margin-right: 142px;
margin-left: 142px;
padding:0px 20px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

.navbar-left{
float: left;
padding-left: 0px;

}
.navbar-right{
  float: right;
  padding-right: 0px;
}

.nav a {
  /*font-family: 'Oxygen Mono',serif;*/
  color: rgb(140, 140, 140);
  font-size: 16px;
  padding-bottom: 10px;
  text-decoration: none;


}

.nav  {
      background-color: #f7f7f7;
  height: 45px

}


.nav li {
  display: inline-block;

}



.nav #contact{
padding-left: 15px;

}
.nav #location{
padding-left: 15px;

}

.jumbotron {
  height: 110px;
  background-image: url('././images/home.jpg');
  background-size: 1950px 600px;

}


.jumbotron h1{ 
  /*font-size:25px;*/
  font-weight: bold;
  color: #FFFFFF;
padding-top:20px;

}

.jumbotron p {
  color: #FFFFFF;
  /*font-size: 15px;*/
  font-style: italic;
  position: relative;
  margin-top: 5px;
}


.jumbotron .container {
  position: relative;
 
}

#profile {
  background-color: #f7f7f7;
  position: relative;
  top: 10px;
  height: 250px;

}


 .profileImage {
  width: 450px;
  height: 200px;
  background-image: url('././images/computerMan.jpg');
  background-repeat: no-repeat;
  background-size: 400px 250px;
  position: relative;
  top: 20px;

}

#services {
  background-color: #f7f7f7;
  position: relative;
  top: 10px;
  height: 200px;
  margin-top: 10px;

}
#services .container {
padding-top: 5px;
}

#services h2 {

margin: 18px 0px;
}
#services h3 {

margin: 0px 0px;
}

#services p {

padding-right: 5px;

}
.big {
  background-color: #f7f7f7;
  position: relative;
  top: 10px;
  height: 500px;

}

.big .container h2{
padding-bottom: 20px;

}
.sub-header h2{
  /*font-family: 'Oxygen Mono',serif;*/
/*  font-size:18px;*/ 
 font-weight: bold;
  position: relative;
  top: 10px;
}

.sub-header h2{
  position: relative
  right: 100px;
}


.sub-header .container{
  background-color: #f7f7f7;
 
}


.sub-header .container h3 {
  /*font-family: 'Oxygen Mono',serif;*/
  /*font-size:18px;*/
  font-weight: bold;
}


.footerholder {
    background: none repeat scroll 0 0 transparent;
    padding-top: 50px;
    bottom: 0px;
    /*position: fixed;*/
    text-align: center;
    width: 100%;
  /*font-family: 'Oxygen Mono',serif;*/
}













.brandSymbols .container{
  width: 150px;
  height: 75px;
  background-image: url('././images/PCMac.jpg');
  background-repeat: no-repeat;
  background-size: 150px 75px;
  position: relative;
  top: 20px;

}



#map {
  width: 500px;
  height: 400px;
}

form {
  /*font-family: 'Oxygen Mono',serif;*/


}










@media (min-width:992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
.col-md-12 {
    width: 100%}
.col-md-11 {
    width: 91.66666667%}
.col-md-10 {
    width: 83.33333333%}
.col-md-9 {
    width: 75%}
.col-md-8 {
    width: 66.66666667%}
.col-md-7 {
    width: 58.33333333%}
.col-md-6 {
    width: 50%}
.col-md-5 {
    width: 41.66666667%}
.col-md-4 {
    width: 33.33333333%}
.col-md-3 {
    width: 25%}
.col-md-2 {
    width: 16.66666667%}
.col-md-1 {
    width: 8.33333333%}
.col-md-pull-12 {
    right: 100%}
.col-md-pull-11 {
    right: 91.66666667%}
.col-md-pull-10 {
    right: 83.33333333%}
.col-md-pull-9 {
    right: 75%}
.col-md-pull-8 {
    right: 66.66666667%}
.col-md-pull-7 {
    right: 58.33333333%}
.col-md-pull-6 {
    right: 50%}
.col-md-pull-5 {
    right: 41.66666667%}
.col-md-pull-4 {
    right: 33.33333333%}
.col-md-pull-3 {
    right: 25%}
.col-md-pull-2 {
    right: 16.66666667%}
.col-md-pull-1 {
    right: 8.33333333%}
.col-md-pull-0 {
    right: 0;
}
.col-md-push-12 {
    left: 100%}
.col-md-push-11 {
    left: 91.66666667%}
.col-md-push-10 {
    left: 83.33333333%}
.col-md-push-9 {
    left: 75%}
.col-md-push-8 {
    left: 66.66666667%}
.col-md-push-7 {
    left: 58.33333333%}
.col-md-push-6 {
    left: 50%}
.col-md-push-5 {
    left: 41.66666667%}
.col-md-push-4 {
    left: 33.33333333%}
.col-md-push-3 {
    left: 25%}
.col-md-push-2 {
    left: 16.66666667%}
.col-md-push-1 {
    left: 8.33333333%}
.col-md-push-0 {
    left: 0;
}
.col-md-offset-12 {
    margin-left: 100%}
.col-md-offset-11 {
    margin-left: 91.66666667%}
.col-md-offset-10 {
    margin-left: 83.33333333%}
.col-md-offset-9 {
    margin-left: 75%}
.col-md-offset-8 {
    margin-left: 66.66666667%}
.col-md-offset-7 {
    margin-left: 58.33333333%}
.col-md-offset-6 {
    margin-left: 50%}
.col-md-offset-5 {
    margin-left: 41.66666667%}
.col-md-offset-4 {
    margin-left: 33.33333333%}
.col-md-offset-3 {
    margin-left: 25%}
.col-md-offset-2 {
    margin-left: 16.66666667%}
.col-md-offset-1 {
    margin-left: 8.33333333%}
.col-md-offset-0 {
    margin-left: 0;
}




----------------------------------------------
CSS Settings For HTML Div ExactCenter
------------------------------------------------
.head h3 {
padding-bottom:25px;
}

input {
	width:100%;
	margin-bottom:15px;
	padding:5px;
	height:30px;
	box-shadow:1px 1px 12px gray;
	border-radius:3px;
	border:none
}
textarea {
	width:100%;
	height:80px;
	margin-top:10px;
	padding:5px;
	box-shadow:1px 1px 12px gray;
  
}
#send {
	width:100%;
	height:45px;
	margin-top:40px;
	border-radius:3px;
	background-color:#808080;	
	border:1px solid #fff;
	color:#fff;
	font-size:18px

}
div#feedback {
	
	height:400px;
	width:330px;
	padding:0px 25px 20px 15px;
	
	

}
